.thumbnail  img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .camption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

/* Google Map styles */
#map {
	height: 400px;
	width: 100%;
}

