.thumbnail  img {
    width: 100%;
}

.thumbnail {
    padding: 0;

    border: none;
}

.thumbnail .camption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

/* Google Map styles */
#map {
	height: 400px;
	width: 100%;
}

@media screen and (min-width: 996px) {
    .gallery img {
        height: 200px;
        width: auto;
    }
}

